:root {
  --main-text-color: #e5e5e5;
}

.App {
  /* height: 100vh; */
  padding: 45px;
}

.logo {
  max-width: 400px;
  margin: 0 auto;
}

/* HEADER */
.movie-app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  color: var(--main-text-color);
  font-size: 45px;
}
.search-bar {
  display: block;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
  outline: 0;
  margin: 0 auto;
  margin-top: 1em;
}
/* MOVIE LIST ROW */

.default-message {
  color: var(--main-text-color);
  font-size: 25px;
}
.rec-slider-container {
  overflow: visible !important;
}

.movie-list-row {
  padding: 45px 0;
  margin-top: 2rem;
  min-height: 500px;
}

.movie-list-row span {
  margin-right: 15px;
}

.hHJTFD {
  overflow: visible !important;
}
.rec-arrow {
  z-index: 1000;
}
.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  color: #000 !important;
  background-color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0 2px 0 #333 !important;
}

.rec-dot {
  height: 5px !important;
  width: 20px !important;
  border-radius: 0 !important;
  box-shadow: 0 0 1px 1px rgb(255 255 255 / 20%) !important;
}

.rec-dot_active {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/* Movie Card */

.rec-item-wrapper {
  overflow: visible !important;
}
.movie-card {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-right: 10px;
  border-radius: 15px;
  transition: transform 300ms ease 100ms;
  flex: 0 0 19.7%;
  max-width: 230px;
  min-width: 230px;
  width: 22%;
}

.movie-card:hover {
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.movie-card-content {
  display: flex;
  justify-content: space-between;
  color: var(--main-text-color);
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  padding: 1em;
  /* position: absolute; */
  bottom: 0px;
  background: rgba(0, 0, 0, 0.8);
}

.favorite-icon {
  fill: red;
}

/* Movie Card Drop Down */
.movie-card-drop-down {
  position: relative;
}

.movie-card-drop-down-btn {
  display: flex;
  justify-content: center;
  background: #f0e901;
  padding: 1em;
}

.movie-card-drop-down-label {
  border: 0.1em solid rgb(77, 77, 77);
  padding: 1em;
  background-color: rgb(36, 36, 36);
  color: var(--main-text-color);
  position: absolute;
  width: 100%;
}
